[user]
	email = szybia@tuta.io
	name = Szymon Bialkowski

[commit]
    gpgsign = true

[gpg]
	program = gpg

[diff]
    # Detect copies as well as renames
    renames = copies
    algorithm = patience

[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 1

[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true

[push]
    default = current
	followTags = true

[alias]

    a = add
    ac = !sh -c 'git add "$@" && git c' -
    all = add -A
    apatch = add --patch .

    #   Amend staged files to latest commit
    amend = commit --amend
    #   Amend all files to latest commit
    amendall = !sh -c 'git all && git amend'

    b = branch
    bnew = checkout -b
    bd = branch -d
    bD = branch -D
    bm = branch -m

    #   Checkout and delete branch
    chmbd = !sh -c 'git chm && git bd "$@"' -
    chdbd = !sh -c 'git chd && git bd "$@"' -

    #   Clean
    cleanall = clean -df
    cleanallx = clean -dfx
    #   Clean dry-run
    cleanalln = clean -dfn
    #   Commit
    c = commit -v
    #   Commit all modified files
    ca = commit -av
    #   Commit all files - even untracked
    allc = !sh -c 'git all && git ca "$@"' -
    #   Checkout
    ch = checkout
    #   Checkout new branch
    chnew = checkout -b
    #   Checkout last branch you were on
    chback = checkout -
    #   Checkout master
    chm = checkout master
    #   Checkout development
    chd = checkout devel
    #   View files changed
    changed = "!f() { git diff-tree --no-commit-id --name-only -r ${1:-HEAD}; }; f"

    #   Clone a repository including all submodules
    cl = clone --recursive
    #   Commit with comment
    cm = commit -vm

    #   Rebase
    continue = rebase --continue
    abort = rebase --abort

    remaster = rebase --autosquash -i master
    redevel =  rebase --autosquash -i devel
    redev =    redevel

    # Show the diff between the latest commit and the current state
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat --color-words"
    dc = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --cached --patch-with-stat --color-words"

    fetchall = fetch --all

    #   Color graph log view
    graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"

    #   View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph --abbrev-commit

    p = push origin HEAD
    pups = pull upstream HEAD
    update = !git pups && git p
    #   Quick way to get started on a story
    new = "!f() { git update && git bnew \"$1\";  }; f"

    r = reset
    rs = reset --soft
    rh = reset --hard
    rhead = reset HEAD~

    rest = restore
    restall = restore :/
    restaged = restore --staged
    restagedall = restore --staged :/
    clearall = !sh -c 'git restagedall && git restall && git cleanall && git cleanallx'

    rmc = rm --cached

    rv = remote -v

    #   View the current working tree status using the short format
    s = status -s
    stat = status

    sh = !"git --no-pager show --color-words"
    #   Show all changes on this branch since base
    #       Low index for git to detect file renames correctly
    shd = d devel..HEAD -M10%
    shm = d master..HEAD -M10%

    #   st default to push and stp to pop
    st = stash
    #   save stash but apply it back
    sta = "!git stash && git stash apply"
    stp = stash pop
    #   stash only unstaged changes
    stun = stash -k -u

    stl = stash list
    #   Shortcut for stash show diff
    #   `git sts` (latest) = `git stash show -p stash@{0}`
    #   `git sts <num>`    = `git stash show -p stash@{<num>}`
    sts = "!f() { git stash show -p stash@{${1:-0}}; }; f"
    std = "!f() { git stash drop stash@{${1:-0}}; }; f"

    swba = switch -
    switchback = switch -

    #   List remote tags
    taglsremote = ls-remote --tags
    #   Remove all local tags not in specified remote (default origin)
    #       removes all tags and then fetches them from specified remote
    #   Usage: git tagsrmlocal (origin default)
    #          git tagsrmlocal upstream
    tagsrmlocal = "!f() { git tag -d $(git tag) && git fetch --tags ${1:-origin}; }; f"

    #   'Undo' a commit
    undo = !git reset HEAD~1 --mixed

[core]
    pager = less -F -X
	editor = vim
	autocrlf = input
	excludesFile = ~/.gitignore
	eol = lf

[color "diff"]
    old = red bold
    new = yellow bold

[feature]
	manyFiles = true

[checkout]
	defaultRemote = origin

[hub]
	protocol = ssh
[init]
	templateDir = ~/.git_template
	defaultBranch = master

[rebase]
	autosquash = true

[advice]
	detachedHead = false
