[user]
	email = szybia@tuta.io
	name = Szymon Bialkowski

[commit]
    gpgsign = true

[gpg]
	program = gpg

[diff]
    # Detect copies as well as renames
    renames = copies

[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 1

[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true

[push]
    default = current
	followTags = true

[alias]

    a = add
    ac = !sh -c 'git add \"$1\" && git c' -
    apatch = add --patch .

    #   Amend staged files to latest commit
    amend = commit --amend

    b = branch

    #   Commit
    c = commit -v
    #   Commit all modified files
    ca = commit -av
    #   Checkout
    ch = checkout
    #   View files changed
    changed = diff-tree --no-commit-id --name-only -r
    #   Clone a repository including all submodules
    cl = clone --recursive
    #   Commit with comment
    cm = commit -vm

    #   Rebase
    continue = rebase --continue
    abort = rebase --abort


    # Show the diff between the latest commit and the current state
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat --color=always"
    dc = diff --cached

    #   Color graph log view
    graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"

    #   View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph --abbrev-commit

    p = push origin HEAD

    r = reset
    rs = reset --soft
    rh = reset --hard
    rhead = reset HEAD --colour=always

    restaged = restore --staged

    rmc = rm --cached

    rv = remote -v

    #   View the current working tree status using the short format
    s = status -s
    stat = status

    sh = show
    shead = show HEAD

    #   st default to push and stp to pop
    st = stash
    stp = stash pop

    stl = stash list
    #   Shortcut for stash show diff
    #   `git sts` (latest) = `git stash show -p stash@{0}`
    #   `git sts <num>`    = `git stash show -p stash@{<num>}`
    sts = "!f() { git stash show -p stash@{${1:-0}}; }; f"

    #   List remote tags
    taglsremote = ls-remote --tags
    #   Remove all local tags not in specified remote (default origin)
    #       removes all tags and then fetches them from specified remote
    #   Usage: git tagsrmlocal (origin default)
    #          git tagsrmlocal upstream
    tagsrmlocal = "!f() { git tag -d $(git tag) && git fetch --tags ${1:-origin}; }; f"

    #   'Undo' a commit
    undo = !git reset HEAD~1 --mixed
[core]
	pager = less -F -X
