[user]
	email = bialkowski.sz@gmail.com
	name = Szymon Bialkowski

[commit]
    gpgsign = true

[diff]
    # Detect copies as well as renames
    renames = copies

[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 1

[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true

[push]
    default = current
