#!/bin/bash

#   Repeat previous command with sudo
alias plz='sudo $(history -p \!\!)'

#   Use htop rather than top
if hash htop 2>/dev/null;
then
    alias top='htop'
fi

#   connman
alias con='connmanctl'

#   nmcli
alias n='nmcli'

#   transmission
alias tm='transmission-remote'
alias tmd='transmission-daemon'

#   Long list of everything
alias ll='ls -AlhF --color=auto'
#   List hidden
alias la='ls -A --color=auto'
#   Classify and list by column
alias l='ls -CF --color=auto'

#   df default
alias df="df -Th --total"

#   mv and cp default
alias mv="mv -i"
alias cp="cp -i"

#   free default
alias free="free -mt"

#   ps default
alias ps="ps auxf"

#   mkdir default create parents
alias mkdir="mkdir -p"

#   wget continue downloading in case of problem
alias wget="wget -c"

#   Search for files
alias fhere='find . -name '

#   Search files for string
alias fsearch='grep -I --exclude-dir .git -rn . -e '

#   List IP
alias myip="curl http://ipecho.net/plain; echo"

#   listen to processes on network
alias listen="lsof -P -i -n"

#   hilarious
alias busy="hexdump -C < /dev/urandom | grep 'ca fe'"

#   Make cd quicker
alias cd..='cd ../'
alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'

#   Popular command shortcuts
alias dl="cd ~/Downloads"
alias h="history"
alias r="ranger"
alias v='vim'

#   Tmux
#   This fixes a problem which messes up the LS_COLORS
alias tmux="tmux -2"

#   Open file explorer
alias wh='nohup thunar . &>/dev/null &'
alias wx='nohup thunar . &>/dev/null & exit'

#   Coloured grep
alias grep="grep --color=auto"

#   Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

#   Docker aliases
alias dcom='docker-compose'

#   curl API | pretty
alias pretty='python -m json.tool'

#   easier clipboard
alias ccopy='xclip -selection clipboard'
alias cpaste='xclip -selection clipboard -o'

#   print readable PATH
alias path='echo -e ${PATH//:/\\n}'

#   Copy SSH private key
alias prikey="more ~/.ssh/id_ed25519 | xclip -selection clipboard | echo '=> Private key copied to pasteboard.'"

#   Copy SSH public key
alias pubkey="more ~/.ssh/id_ed25519.pub | xclip -selection clipboard | echo '=> Public key copied to pasteboard.'"

#   Microphone mute/unmute
alias micoff='amixer set Capture nocap'
alias micon='amixer set Capture cap'
