#!/usr/bin/env bash

#   Repeat previous command with sudo
alias plz='sudo $(history -p \!\!)'

#   Use htop rather than top
if hash htop 2>/dev/null;
then
    alias top='htop'
fi

#   connman
alias con='connmanctl'

#   nmcli
alias n='nmcli'

#   transmission
alias tm='transmission-remote'
alias tmd='transmission-daemon'



export ls_command='ls'
# shellcheck disable=SC2154
#   Machine is sourced in .bashrc
if [ "${machine}" = 'Mac' ]
then
    export ls_command='gls'
fi

#   Long list of everything
alias l="${ls_command} -AlhF --color=auto"
#   List hidden
alias la="${ls_command} -A --color=auto"
#   Classify and list by column
alias ll="${ls_command} -CF --color=auto"


#   df default
alias df='df -Th --total'

#   mv and cp default
alias mv='mv -i'
alias cp='cp -i'

#   free default
alias free='free -mt'

#   ps default
alias ps='ps -ef'

#   mkdir default create parents
alias mkdir='mkdir -p'

#   wget continue downloading in case of problem
alias wget='wget -c'

#   Search for files
alias fhere='find . -name '

#   Search files for string
#       Search .gitignore and hidden files without git folder
#       case-insensitively with extended pattern
alias fsearch='rg -uu -g "!.git/" -i . -e '

#   List IP
alias myip='curl https://ipinfo.tw; echo'

# check internet connection
alias online='wget -q --spider szybia.com'

#   listen to processes on network
alias listen='lsof -P -i -n'

#   hilarious
alias busy='hexdump -C < /dev/urandom | grep "ca fe"'

#   Make cd quicker
alias cd..='cd ../'
alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'

#   Popular command shortcuts
alias dl='cd ~/downloads'
alias h='history'
alias r='ranger'
alias v='vim'

#   Tmux
#   This fixes a problem which messes up the LS_COLORS
alias tmux='tmux -2'

#   Open file explorer
alias wh='nohup thunar . &>/dev/null &'
alias wx='nohup thunar . &>/dev/null & exit'
if [ "${machine}" == 'Mac' ]
then
    alias wh='open .'
    alias wx='wh & exit'
fi

#   Coloured grep
alias grep='grep --color=auto'

#   ripgrep search hidden files
alias rgh="rg --hidden -g '!.git/*' -i"

#   search for a filename
alias rgf='rg --files | rg'

#   Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

#   curl API | pretty
alias pretty='python3 -m json.tool'
alias cpretty='cpaste | pretty'
alias ccpretty='cpaste | pretty | ccopy'

#   python import sorting
alias pythonsort='isort -rc .'

#   easier clipboard
alias ccopy='xclip -selection clipboard'
alias cpaste='xclip -selection clipboard -o'
if [ "${machine}" = 'Mac' ]
then
    alias cpaste='pbpaste'
    alias ccopy='pbcopy'
fi
alias cclear='echo -n '' | ccopy'

#   print readable PATH
alias path='echo -e ${PATH//:/\\n}'

#   Copy SSH private key
alias prikey='ccopy < ~/.ssh/id_ed25519 | echo "=> Private key copied to pasteboard."'

#   Copy SSH public key
alias pubkey='ccopy < ~/.ssh/id_ed25519.pub | echo "=> Public key copied to pasteboard."'

#   Microphone mute/unmute
alias micoff='amixer set Capture nocap'
alias micon='amixer set Capture cap'

#   Arch remove orphans
alias remove_orphans='sudo pacman -Rns $(pacman -Qtdq)'

#   USBGuard
alias usbl='sudo usbguard list-devices'
alias usba='sudo usbguard allow-device'
alias usbb='sudo usbguard block-device'

#   youtube-dl
alias youtube-audio='youtube-dl -x --audio-format mp3'
alias youtube-video='youtube-dl -i'
alias youtube-playlist='youtube-dl -o "%(playlist)s/%(playlist_index)s - %(title)s.%(ext)s" -i'


#   calcurse
alias cal='calcurse'

#   clear screen
#       keeps previous output while allowing for
#       distuingishing the gap between commands
alias clear_man='for i in {1..100}; do echo; done'

#   get rid of useless BSD core utils
if [ "${machine}" = 'Mac' ]
then
    # if mac sed was any slower I'd breakdown
    alias sed='gsed'
    alias du='gdu'
fi


#   escape all special characters
alias escape="sed 's/[^a-zA-Z0-9]/\\\&/g'"
#   DO NOT ask me how this works
#       https://stackoverflow.com/a/1250279
# shellcheck disable=SC2142
alias safescape='sed -e '"'"'s/[]\/$*.^[]/\\&/g'"'"''

#   Vagrant aliases
alias vll='vagrant global-status --prune'
alias vd='vagrant destroy'

alias vssh='vagrant ssh'

#   git typo
alias gti='git'
#   vim shortcuts
alias vimgit='vim $HOME/.gitconfig'
alias vimbashrc='vim $HOME/.bashrc'
alias vimrc='vim $HOME/.vimrc'
alias vimaliases='vim $HOME/.aliases'
alias vimfunctions='vim $HOME/.functions'
alias vimexports='vim $HOME/.exports'
alias vimcustom='vim $HOME/.custom'
alias viminput='vim $HOME/.inputrc'
alias vimssh='vim $HOME/.ssh/config'
alias vimtmux='vim $HOME/.tmux.conf'
#   source those files
alias sourcebashrc='source $HOME/.bashrc'
alias sourcerc='source $HOME/.vimrc'
alias sourcealiases='source $HOME/.aliases'
alias sourcefunctions='source $HOME/.functions'
alias sourceexports='source $HOME/.exports'
alias sourcecustom='source $HOME/.custom'
alias sourceinput='source $HOME/.inputrc'


alias vf='vim $(fzf -m)'
alias rmfzf='rm -rf $(fzf -m)'

#   npm aliases
#   npm clean and install
alias npmclinstall='rm -rf node_modules/ package-lock.json && npm install'

#   I also like to live dangerously
alias rmr="rm -r"
alias rmrf="rm -rf"

# For when you're really not sure which letter comes first
alias alphabet='echo "abcdefghijklmnopqrstuvwxyz"'

# gh cli
alias ghprlist='gh pr list'
alias ghprls='gh pr list'
alias ghprstat='gh pr status'
alias ghprview='gh pr view -w'  # open in browser

# gh hub cli
alias hubbr='hub browse'
alias hubci='hub ci-status'
alias hubcl="hub clone"
#   Ain't nobody got time fo' that
alias hcl='hubclfork'
alias hubfork='hub fork --remote-name origin'
alias hubsync='hub sync'

# git utilities
alias prnew='git p && hubprnew'
alias prnewf='git p -f && hubprnew'

# unix timestamp utilities (no newlines)
alias unixnow='echo -n "$(gdate +%s%3N)" | ccopy'
alias unixyes='echo -n "$(gdate -d "yesterday" +%s%3N)" | ccopy'

#   nightmode functions
alias nightmode='xrandr --output eDP-1 --gamma 1.1:0.8:0.7 --brightness 0.80'
alias nightmodeoff='xrandr --output eDP-1 --gamma 1:1:1 --brightness 1.0'
alias xrandrreset='xrandr -s 0'

# maven aliases
#  Yes, I'm really that lazy
alias mvnclean='mvn clean'
alias mvnpackage='mvn package'
alias mvnverify='mvn verify'
alias mvninstall='mvn install'
alias mvntest='mvn clean test'
alias mvnskip='mvn clean package -DskipTests -Dcheckstyle.skip -Dskip.coverage'
alias mvntestpush='mvntest && git p'

# uuid's
alias uuiddummy='echo -n "00112233-4455-6677-8899-aabbccddeeff" | ccopy'

# I'm sick and tired of looking for shebangs
alias bashshebang="echo '#!/usr/bin/env bash' | ccopy"
alias shshebang="echo '#!/usr/bin/env sh' | ccopy"

# So awkward
alias chx='chmod +x'

# Sentence to python function name
alias snake='cpaste | tr  "[:upper:]" "[:lower:]" | sed "s/ /_/g" | ccopy'
alias camel="cpaste | sed -r 's/_([a-z])/\U\1/gi' | sed -r 's/^([A-Z])/\l\1/' | ccopy"

# Mr. Terraform
alias tf='terraform'
alias tfi='terraform init'
alias tfp='terraform plan'
alias tfa='terraform apply'

# Open text editors/IDEs
alias c='code .'
alias i='idea .'

#   When you want to check something in a project
alias guc='c && git pups'

alias b='git branch'
alias sb='git s && git b'

alias wcl='wc -l'

#   delete a host from known_hosts
alias sshdel='ssh-keygen -f ~/.ssh/known_hosts -R'
