#!/bin/bash


#   Repeat previous command with sudo
alias plz='sudo $(history -p \!\!)'

#   Use htop rather than top
if hash htop 2>/dev/null;
then
    alias top='htop'
fi

#   Use gpg2 rather than gpg
if hash gpg2 2>/dev/null;
then
    alias gpg='gpg2'
fi

#   Long list of everything
alias ll='ls -AlhF --color=auto'
#   List hidden
alias la='ls -A --color=auto'
#   Classify and list by column
alias l='ls -CF --color=auto'

#   df default
alias df="df -Th --total"

#   free default
alias free="free -mt"

#   ps default
alias ps="ps auxf"

#   mkdir default create parents
alias mkdir="mkdir -p"

#   wget continue downloading in case of problem
alias wget="wget -c"

#   Search for files
alias fhere='find . -name '

#   List IP
alias myip="curl http://ipecho.net/plain; echo"

#   listen to processes on network
alias listen="lsof -P -i -n"

#   hilarious
alias busy="cat /dev/urandom | hexdump -C | grep 'ca fe'"

#   Make cd quicker
alias cd..='cd ../'
alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'

#   Popular command shortcuts
alias dl="cd ~/Downloads"
alias h="history"
alias r="ranger"
alias v='vim'

#   Open file explorer
alias wh='nohup dolphin . &>/dev/null &'
alias wx='nohup dolphin . &>/dev/null & exit'

#   Coloured grep
alias grep="grep --color=auto"

#   Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

#   git aliases
alias g="git"

alias ga="git add"

alias gc="git commit -v"
alias gcm="git commit -v -m"
alias gcSm="git commit -v -S -m"
alias gcsm="git commit -v -S -m"
alias gscm="git commit -v -S -m"

alias gcl='git clone --recursive'

alias gd="git diff"

alias gl='git log'

alias gmv='git mv'

alias gp="git push"
alias gpom="git push origin master"

alias grm="git rm"
alias grmc="git rm --cached"

alias gs='git status'

alias gsh='git show'

#   Docker aliases
alias dcom='docker-compose'

#   curl API | pretty
alias pretty='python -m json.tool'

#   easier clipboard
alias cbcopy='xclip -selection clipboard'
alias cbpaste='xclip -selection clipboard -o'
