#!/bin/bash

#   History time format
export HISTTIMEFORMAT="%d/%m/%y %T "
export HISTSIZE=1000000
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
CURRENT_TTY=$(tty)
export GPG_TTY=$CURRENT_TTY
unset CURRENT_TTY

# Only show n directorys in terminal working path
export PROMPT_DIRTRIM=1

#   Reduce spam in history
#   cd, ls, safe git aliases
#   This allows us to start a command with space if
#   we don't want it to be saved in history
export HISTIGNORE="l[s|l]*:clear:exit:gs:gs *:gd:gd *:gl:gl *:gdc:history:gsh:gshH:pwd: *:"

# PS1 Appearance
brackets="\[\033[38;5;015m\]"
username="\[\033[38;5;039m\]"
at="\[\033[38;5;015m\]"
hostname="\[\033[38;5;049m\]"
endchar="\[\033[38;5;209m\]"
path="\[\033[38;5;045m\]"
exit_colour="\[\033[38;5;001m\]"
branch_colour="\[\033[38;5;083m\]"

__exitstatus()
{
    # shellcheck disable=SC2181
    if [[ $? != 0 ]]; then
        echo ':( '
    fi
}

__parse_git_branch() {
    git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/(\1) /'
}

# shellcheck disable=SC2016
# not supposed to be expanded since the latest exit code is dynamic
exit_status='$(__exitstatus)'
# shellcheck disable=SC2016
git_branch='$(__parse_git_branch)'
final_PS1="${brackets}[${username}\u${at}@${hostname}\h${brackets}] ${path}\w ${exit_colour}${exit_status}${branch_colour}${git_branch}${endchar}\\$ \[$(tput sgr0)\]"
export PS1="$final_PS1"

unset brackets
unset username
unset at
unset hostname
unset endchar
unset path
unset exit_status
unset exit_colour
unset git_branch
unset branch_colour
unset final_PS1
