#!/bin/bash


#   History time format
export HISTTIMEFORMAT="%d/%m/%y %T "
export HISTSIZE=1000000
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
CURRENT_TTY=$(tty)
export GPG_TTY=$CURRENT_TTY
unset CURRENT_TTY

# miniconda
export PATH=~/miniconda3/bin:$PATH

# Only show n directorys in terminal working path
export PROMPT_DIRTRIM=2
