#!/bin/bash


#   History time format
export HISTTIMEFORMAT="%d/%m/%y %T "
export HISTSIZE=1000000
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
CURRENT_TTY=$(tty)
export GPG_TTY=$CURRENT_TTY
unset CURRENT_TTY

# Only show n directorys in terminal working path
export PROMPT_DIRTRIM=2

# PS1 Appearance
brackets="\[\033[38;5;015m\]"
username="\[\033[38;5;039m\]"
at="\[\033[38;5;015m\]"
hostname="\[\033[38;5;049m\]"
endchar="\[\033[38;5;209m\]"
path="\[\033[38;5;045m\]"

final_PS1="${brackets}[${username}\u${at}@${hostname}\h${brackets}] ${path}\w ${endchar}\\$ \[$(tput sgr0)\]"
export PS1="$final_PS1"

unset brackets
unset username
unset at
unset hostname
unset endchar
unset path
unset final_PS1
