"\C-x\C-r": re-read-init-file

#   ALT-e to expand an alias
"\ee": alias-expand-line

#   Alt/Meta + Delete to delete the preceding word
"\e[3;3~": kill-word

#   Alt/Meta + h to move cursor one word back
"\eh": backward-word
#   Alt/Meta + h to move cursor one word forward
"\el": forward-word

#   Search history for commands beginning with current text
#   docker <up_arrow>
#   docker run ubuntu
"\e[B": history-search-forward
"\e[A": history-search-backward

#   Colored stats when showing output after tabbing
#   vim <tab>
set colored-stats on

#   When tabbing show matched part of completion
set colored-completion-prefix on

#   Tab case insensitive autocompletion
set completion-ignore-case on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Show all autocomplete results at once
set page-completions off

# If there are more than n possible completions for a word, ask to show them all
set completion-query-items 200

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# Allows cycling through options
bind 'TAB':menu-complete

# Partial completion of first tab, cycling on second onwards
set menu-complete-display-prefix on

# Prevent completing a command at the cursor and leaving the text after
# cd ~/etc   ->   cd ~/etctc
set skip-completed-text on

